/*general styling*/

.container_index {
    text-align: center;
    background-color: aqua;
}

/*index page*/

.container_index {
    margin-top: 20%;
    text-align: center;
}
.navigation li {
    list-style: none;
}
