/*container*/

.container {
    text-align: center;
}
#mobile,
#attention {
    display: none;
}

/*header*/

header img {
    height: 8%;
    width: 8%;
}
header h4 {
    font-family: 'Bungee Inline', cursive;
    color: deeppink;
}

/*instructions*/

#instruction {
    margin-top: 30%;
    font-family: 'Roboto Mono', monospace;
}
#gear_show {
    font-family: 'Roboto Mono', monospace;
    font-size: 500%;
    position: absolute;
    top: 30%;
    left: 3%;
}
#gear_show h5 {
    color: red;
    font-family: 'Roboto Mono', monospace;
}
