<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pi Drive</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/foundation.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/app.css' )}}">

</head>

<body>
    {% block content %} {% endblock %}

</body>
<script src="{{url_for('static', filename = 'js/vendor/jquery.js')}}"></script>
<script src="{{url_for('static', filename = 'js/vendor/what-input.js')}}"></script>
<script src="{{url_for('static', filename = 'js/vendor/foundation.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/app.js')}}"></script>

</html>
