{% extends "base.html" %} {% block content %}
<div class="container_index large-centered small-12 large-4 columns">
    <header>

        <h2>Welcome to the <br>TRIVIA game</h2>

    </header>
    <section class="index_main">
        <ul class="navigation">
            <li>
                <a href="{{url_for('create')}}">Create a question</a>
            </li>
            <li>
                <a href="{{url_for('answer', title = title)}}">Answer a question</a>
            </li>
        </ul>

    </section>
</div>
{% endblock %}
