<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <h1>Hello World</h1>
    </body>
</html>